<%= form_with model: spot do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    <% spot.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :latitude %><br>
    <%= form.number_field :latitude %><br>
    <% spot.errors.full_messages_for(:latitude).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :longitude %><br>
    <%= form.number_field :longitude %><br>
    <% spot.errors.full_messages_for(:longitude).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>