<div class="max-w-screen-lg w-full mx-auto px-5">
  <div class="flex items-center justify-between my-3">
    <h2 class="font-bold text-2xl"> Your Dashboard</h2>
    <%= link_to "Add a New Spot!", new_spot_path, class: "btn px-3 py-1.5 my-2" %>
  </div>
  <% unless @spots.any? %>
    <p>Your dashboard is empty because you don't have any swim spots yet! Once you add them they'll appear here.</p>
  <% end %>
  <div class="grid gap-4 sm:grid-cols-2 md:grid-cols-3">
    <% @spots.each do |spot| %>
      <%= link_to spot_path(spot), class: "contents" do %>
        <div class="rounded-lg border border-gray-300 bg-orange-50 shadow-sm focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 hover:border-gray-400 px-6 py-5">
          <ul>
            <li class="text-xl font-bold"><%= spot.name %>
            </li>
            <% if spot.grouped_tides(:today_and_tomorrow).empty? %>
              <p>We're sorry, there is no tide data available for this spot at the moment.</p>
            <% else %>
              <% spot.grouped_tides(:today_and_tomorrow).each do |date, tides| %>
                <li class="flex gap-x-1 justify-between py-2 mt-2">
                  <span class="flex items-center">
                    <b>
                    <% if date.today? %>
                      Today
                    <% elsif date.tomorrow? %>
                      Tomorrow
                    <% else %>
                      <%= date.strftime("%a %e %b") %> 
                    <% end %>
                    </b>
                  </span>
                  <br>
                  <span class="text-teal-700"> 
                    <% if @time_series.present? && @time_series[spot.id].present? %>
                      <%= spot.weather_by_date(@time_series[spot.id])[date][:summary_emoji] %>
                    <% else %>
                      <p>No weather</p>
                    <% end %>
                  </span>
                </li>
                <% tides.each do |tide| %>
                  <li class="flex gap-x-1 justify-between py-2">
                    <span class="flex items-center gap-x-1">
                      <% if tide.event == "HighWater" %>
                        <svg id="hightide" xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-blue-700" stroke="currentColor" viewBox="0 0 24 24"><path d="M5.63604 6.633L12 0.269043L18.364 6.633C21.8787 10.1477 21.8787 15.8462 18.364 19.3609C14.8492 22.8756 9.15076 22.8756 5.63604 19.3609C2.12132 15.8462 2.12132 10.1477 5.63604 6.633H5.63604Z" fill="currentColor"></path>
                        </svg>
                        <span>High Tide <%= tide.date_time.strftime("%R") %>
                        </span>
                      <% else %>
                        <svg id="lowtide" xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-blue-700" stroke="currentColor" viewBox="0 0 24 24"><path d="M12 3.09747L7.05025 8.04722C4.31658 10.7809 4.31658 15.213 7.05025 17.9467C9.78392 20.6804 14.2161 20.6804 16.9497 17.9467C19.6834 15.213 19.6834 10.7809 16.9497 8.04722L12 3.09747ZM12 0.269043L18.364 6.633C21.8787 10.1477 21.8787 15.8462 18.364 19.3609C14.8492 22.8756 9.15076 22.8756 5.63604 19.3609C2.12132 15.8462 2.12132 10.1477 5.63604 6.633L12 0.269043ZM7 12.997H17C17 15.7584 14.7614 17.997 12 17.997C9.23858 17.997 7 15.7584 7 12.997Z" fill="currentColor"></path>
                        </svg>
                        <span>Low Tide <%= tide.date_time.strftime("%R") %>
                        </span>
                      <% end %>
                    </span>
                    <span class="flex items-center gap-x-0.5">
                      <% if tide.event == "HighWater" %>
                        <svg id="uparrow" xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-blue-700 " stroke="currentColor" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                          <path fill-rule="evenodd" d="M12 20.25a.75.75 0 01-.75-.75V6.31l-5.47 5.47a.75.75 0 01-1.06-1.06l6.75-6.75a.75.75 0 011.06 0l6.75 6.75a.75.75 0 11-1.06 1.06l-5.47-5.47V19.5a.75.75 0 01-.75.75z" clip-rule="evenodd" />
                        </svg>
                      <% else %>
                        <svg id="downarrow" xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-blue-700" stroke="currentColor" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                          <path fill-rule="evenodd" d="M12 3.75a.75.75 0 01.75.75v13.19l5.47-5.47a.75.75 0 111.06 1.06l-6.75 6.75a.75.75 0 01-1.06 0l-6.75-6.75a.75.75 0 111.06-1.06l5.47 5.47V4.5a.75.75 0 01.75-.75z" clip-rule="evenodd" />
                        </svg>
                      <% end %>
                      <span> <%= tide.height %> metres </span>
                    </span>
                  </li>
                <% end %>
              <% end %>
            <% end %>
            <li class="mt-2"><span class="btn-other text-sm">→ see full 7 days</span>
            </li>  
          </ul>
        </div>
      <% end %>
    <% end %>
    <br><br><br>
  </div>
  <br>
</div>



