<!DOCTYPE html>
<html>
  <head>
    <title>🧜‍♀️ Salty Swimming 🧜‍♀️</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src='https://api.mapbox.com/mapbox-gl-js/v2.13.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.13.0/mapbox-gl.css' rel='stylesheet' />
    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.min.js'></script>
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.css' type='text/css' /> 


    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="relative">
    <% if controller_name == "stations" && action_name === "index" %>
      <nav class="py-5 px-4 text-purple-950">
    <% else %>
      <nav class="bg-gradient-to-r from-orange-200 via-red-200 to-blue-200 py-5 px-4 text-purple-950">
    <% end %>
      <div class="max-w-screen-lg w-full mx-auto flex justify-between">
        <div class="flex text-xl gap-x-4">
          <div class="scale-150">🧜‍♀️</div>
          <%= link_to "Salty Swimming", root_path, class: "font-bold" %>
        </div>
        <div class="flex gap-x-5 font-semibold">
          <%= link_to_unless_current("About", { controller: "/pages", action: "about" }) %>
          <% if user_signed_in? %>
            <%= link_to_unless_current("Dashboard", { controller: "/spots", action: "index" }) %>
            <%= link_to "Log out", destroy_user_session_path, data: { "turbo-method": :delete } %>
          <% else %>
            <%= link_to "Log in", new_user_session_path %>
          <% end %>

        </div>
      </div>
    </nav>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    
    <!--<div class="max-w-screen-md w-full mx-auto">-->
      <%= yield %>
    <!--</div>-->
  </body>
</html>
